<!DOCTYPE HTML>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title> YTDwnldr </title>
  </head>

  <body>

    <h2> Youtube to mp3 </h2>

      <form id="form" action="/action_page.php">
        <div>
          <input type="text" placeholder="Enter link..." name="link">
          <button type="submit"><i class="fa fa-search"></i></button>
        </div>
      </form>

  </body>

</html>